
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> CCNSB</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
</style>
  </head>
  <body>
    <div class="row">
      <div class="col-md-2"><img id="poster1" src="static/IIIT-H.png" class="img-responsive img-rounded" width="200" height="300"></div>

      <div class ="col-md-6">
      	<br>
      	<br>
      	<h1 id="heading"> CCNSB: Center for Computational Natural Sciences and Bioinformatics (CCNSB)</h1>
      	    <p>About CCNSB: Center for Computational Natural Sciences and Bioinformatics (CCNSB) is a research center in IIIT Hyderabad that is involved in teaching and research in the areas of computational chemistry, computational and systems biology, bioinformatics, bio-molecular simulations, nanosciences, statistical mechanics and complex systems.</p>

            <li><b>Abhijit Mitra</b> <br>
            	PhD (IIT Kanpur)<br>
            	Professor<br>
            	email: abi_chem@iiit.ac.in<br>
            	<a id ="link1" href="http://faculty.iiit.ac.in/~abi_chem/">Path to Enlightment</a><br>
            </li>
            <br>
            <li><b>Nita Parekh</b><br>
            	PhD (Jawaharlal Nehru University)<br>
            	Associate Professor<br>
            	email: nita@iiit.ac.in<br>
            	<a id ="link1" href="http://bioinf.iiit.ac.in/nita/index.html">Path to Enlightment</a></li>
   			<br>
            <li><b>Vinod P. K.</b><br>
				PhD (IIT Bombay)<br>
				Assistant Professor<br>
				email: vinod.pk@iiit.ac.in<br>
				<a id ="link1" href="http://faculty.iiit.ac.in/~vinod.pk/">Path to Enlightment</a>
				
			</li>
			<br>
            <li><b>U. Deva Priyakumar</b> <br>
				PhD (Pondicherry University)<br>
				Associate Professor; Head of the Center<br>
				email: deva@iiit.ac.in<br>
				<a id ="link1" href="http://ccnsb.iiit.ac.in/~deva/Deva/">Path to Enlightment</a></li>
				<br>
            <li><b>Harjinder Singh</b><br>
            	PhD (Princeton University)<br>
            	Professor<br>
            	email: laltu@iiit.ac.in<br>
            	<a id ="link1" href="http://faculty.iiit.ac.in/~laltu/">Path to Enlightment</a></li>
            </ul>
        
    </div>
    <div class="col-md-4"> </div>
    	
    </div>
   
    

      
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
     

  </body>
 </html>

