
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> CogSci Lab </title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
</style>
  </head>
  <body>
    <div class="row">
      <div class="col-md-2"><img id="poster1" src="static/IIIT-H.png" class="img-responsive img-rounded" width="200" height="300"></div>

      <div class ="col-md-6">
      	<br>
      	<br>
      	<h1 id="heading"> CogSci:Cognitive Science</h1>
      	    <p>Cognitive Science is the study of how we perceive, act in, reason about and form beliefs about our environment. It is an interdisciplinary research area that involves philosophy, psychology, neuroscience, linguistics, anthropology and artificial intelligence.
                In our cognitive science laboratory, we are currently working on the following research problems:
                cognitive modeling of aesthetics and its applications to layout and interface design,
                understanding and modeling visual metaphors,     
                developing cognition and communicative assistive tools for children with learning difficulties like dyslexia and autism,     
                understanding and modeling human visual processing system         
                        We welcome bright and enthusiastic people who are interested to explore these or any other areas related to cognition to join our group.</p>

                        <li><b>PS Deb</b><br>
                        Visiting Faculty<br>
                        Sr. Consultant Neurologist, Appollo hospitals<br>
                        DM Neurology, 1990, Christian Medical College,<br>
                        MD Medicine,1981, Jabalpur Medical College<br>
                        Email:drpsdeb@gmail.com<br>
                        <a id ="link1" href= http://drpsdeb.blogspot.com/>Path to Enlightment</a><br>
                        <br>

            
    </div>
    <div class="col-md-4"> </div>
    	
    </div>
   
    

      
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
     

  </body>
 </html>

