
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> CVIT </title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
</style>
  </head>
  <body>
    <div class="row">
      <div class="col-md-2"><img id="poster1" src="static/IIIT-H.png" class="img-responsive img-rounded" width="200" height="300"></div>

      <div class ="col-md-6">
      	<br>
      	<br>
      	<h1 id="heading"> CVIT:Centre for Visual Information Technology (CVIT)</h1>
      	    <p>About CVIT:CVIT focuses on basic and advanced research in image processing, computer vision, computer graphics and machine learning. This center deals with the generation, processing, and understanding of primarily visual data as well as with the techniques and tools required doing so efficiently. The activity of this center overlaps the traditional areas of Computer Vision, Image Processing, Computer Graphics, Pattern Recognition and Machine Learning. CVIT works on both theoretical as well as practical aspects of visual information processing. Center aims to keep the right balance between the cutting edge academic research and impactful applied research.

                CVIT has around 50 students carrying out research for M.S. and Ph.D. degrees. The center has regular visits and talks by leading researchers in the world. </p>

                <li><b>Vineet Gandhi</b> <br>
                    Senior Research Scientist<br>
                    Ph.D, INRIA France<br>
                    Areas of Interest: Computer Vision, Multimedia Systems<br>
                    Email: vgandhi@iiit.ac.in<br>
                    <a id ="link1" href= http://www.iiit.ac.in/people/faculty/vgandhi>Path to Enlightment</a><br>
                </li>
                <br>
                <li><b>C. V. Jawahar</b><br>
                Professor<br>
                PhD, IIT Kharagpur<br>
                Areas of Interest: Computer Vision, Machine Learning, Multimedia Systems<br>
                Email: jawahar@iiit.ac.in<br>
            </li>
            <br>
               
        
    </div>
    <div class="col-md-4"> </div>
    	
    </div>
   
    

      
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
     

  </body>
 </html>

