
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Centers</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
</style>
  </head>
  <body>
    <div class="row">
      <div class="col-md-2"><img id="poster1" src="static/IIIT-H.png" class="img-responsive img-rounded" width="200" height="300"></div>

      <div class ="col-md-6">
      	   <br>
        <br>
        <h1 id="heading"> Centers of IIIT- Hyderabad</h1>
        <form action="CCNSB.html">
          <li><input type="submit" value="CCNSB" /></li>
        </form>
        <form action="SPCRC.html">
          <li><input type="submit" value="Signal Processing and Communications Research Center (SPCRC)" /></li>
        </form>
        <form action="DSAC.html">
          <li><input type="submit" value="Data Sciences and Analytics Center (DSAC)" /></li>
        </form>
        <form action="LTRC.html">
          <li><input type="submit" value="Language Technologies Research Center (LTRC)" /></li>
        </form>
        <form action="RRC.html">
          <li><input type="submit" value="Robotics Research Center (RRC)" /></li>
        </form>
        <form action="CVIT.html">
          <li><input type="submit" value="Center for Visual Information Technology (CVIT)" /></li>
        </form>
        <form action="CogSci.html">
          <li><input type="submit" value="Cognitive Science (CogSci)" /></li>
        </form>
        <form action="LSI.html">
          <li><input type="submit" value="Lab for Spatial Informatics (LSI)" /></li>
        </form>
        <form action="SERC.html">
          <li><input type="submit" value="Software Engineering Research Center (SERC)" /></li>
        </form>
    </div>
    <div class="col-md-4"> </div>
    	
    </div>
   
    

      
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
     

  </body>
 </html>
