
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> DSAC </title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
</style>
  </head>
  <body>
    <div class="row">
      <div class="col-md-2"><img id="poster1" src="static/IIIT-H.png" class="img-responsive img-rounded" width="200" height="300"></div>

      <div class ="col-md-6">
      	<br>
      	<br>
      	<h1 id="heading"> DSAC:Data Sciences and Analytics Center</h1>
      	    <p>Data Sciences and Analytics Center conducts research, facilitates technology transfer, and builds systems in the broad area of data engineering. The center inculcates the culture of research in students by involving them in activities such as:
                Participating and getting awarded in
                RoboCup
                Trading Agent Competition SCM
                VAST challenge
                Data Mining Challenges
                Deploying and contributing to open source projects in
                database systems
                multi agent systems
                Deploying IT solutions such as, e-sagu for helping farmers
                Building Robots and working on multi agent coordination
                </p>

                <li><b>Kamalakar Karlapalem</b><br>
                Research<br>
                Intensive Data Visualization Tool<br>
                Multi Robot Payload Transport Systems<br>
                Multi-Agent Simulation of Complex Systems (Crowd Management, Traffic)<br>
                Meta-Execution Workflow Systems for Robotics and IoTs<br>
                Text Analytics Applications<br>
                <a id ="link1" href= http://www.iiit.ac.in/~kamal/>Path to Enlightment</a><br>
                <br>

                
            
    </div>
    <div class="col-md-4"> </div>
    	
    </div>
   
    

      
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
     

  </body>
 </html>

