
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> LSI </title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">        
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
</style>
  </head>
  <body>
    <div class="row">
      <div class="col-md-2"><img id="poster1" src="static/IIIT-H.png" class="img-responsive img-rounded" width="200" height="300"></div>

      <div class ="col-md-6">
      	<br>
      	<br>
      	<h1 id="heading"> Lab for Spatial Informatics - IIIT Hyderabad</h1>
      	    <p>

                The science that deals with the study of how location in space and time characterize or influence an object, event or phenomena is referred to as Spatial or Geospatial Sciences. Thus, it is a multi-disciplinary field that encompasses a wide range of disciplines ranging from geography to agricultural sciences, natural resource management to global environmental change. A set of technologies ranging from field survey to remote sensing has helped the growth of this science. The suite of technologies that encompass this rapidly growing discipline of knowledge include data collection (field surveys, satellite imagery, etc), data storage and management (GeoDB, spatial data mining), processing and manipulation (image processing), mapping and visualization, data analysis (GIS), simulation and modelling.
 
GIS/Spatial Informatics Centre was setup with an aim to provide for a platform for combining the strengths and progress in the Computer Science and IT fields related to the spatio-temporal domains and build domain expertise and applications in the various disciplines related to it, ranging from the natural to social sciences. Also, this centre is proposed to be developed as a nodal point for networking and joint research works in inter-disciplinary areas (related to resource use and management), by building on the data generation, handling and monitoring capability to analysis and modelling. This is the ONLY centre/group of its kind in India promoting GeoSpatial Research efforts at both system and applied levels.
                </p>
    
                <li><b>Dr. Krishnan Sundara Rajan</b><br>
                Head, Lab for Spatial Informatics(LSI)<br>
                Areas of Interest: Geographical Information Systems (GIS), Remote Sensing, Modelling & Simulation, Regional and Global Environmental Change, Human-Land-Water interactions, Role of S&T in Policy making, Open Source Softwares <br>
                <a id ="link1" href= http://lsi.iiit.ac.in/faculty/rajan/rajan.htm >Path to Enlightment</a><br>   
            </p>

            <li><b>Rama Chandra Pillutla</b><br>

            Assistant Professor, Lab for Spatial Informatics,<br>    
            Tel: +91-40-66531343, 09246109160; Fax: +91-40-66531413<br>
            
            E-mail: rcprasad@iiit.ac.in, rcp_ncmsl@yahoo.co.in<br>
            <a id ="link1" href= http://lsi.iiit.ac.in/faculty/rcprasad/RCPrasad.htm>Path to Enlightment</a><br>
                <br>
                
                <li><b>Dr. Shaik Rehana</b><br>
                Assistant Professor, Lab for Spatial Informatics(LSI)<br>
                
                Areas of Interest: <br>
                Hydrologic Impacts of Climate Change: Statistical Downscaling, GCM Uncertainty Modeling, Water Quality Modeling, Reservoir Operation under Uncertainty. <br>
                Applications of: Fuzzy Systems Theory, Grey Systems Theory, Entropy Information Theory. <br>
                Water Resources Systems: Reservoir Operation, Irrigation Planning, Water Quality Control, Streamflow Quantity-Quality Modeling. <br>
                
                Tel: (+91-40)-6653 1000 Ext:1410  Fax: (+91-40)-6653 1413<br>
                Email: rehana.s*, rehanaiisc@gmail.com, rehana6458@gmail.com<br>
                <a id ="link1" href= http://lsi.iiit.ac.in/faculty/srehana/srehana.htm>Path to Enlightment</a><br>
                
    </div>
    <div class="col-md-4"> </div>
    	
    </div>
   
    

      
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
     

  </body>
 </html>

