
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> LTRC </title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">        
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
</style>
  </head>
  <body>
    <div class="row">
      <div class="col-md-2"><img id="poster1" src="static/IIIT-H.png" class="img-responsive img-rounded" width="200" height="300"></div>

      <div class ="col-md-6">
      	<br>
      	<br>
      	<h1 id="heading"> LTRC: LANGUAGE TECHNOLOGIES RESEARCH CENTER</h1>
      	    <p>

                LTRC addresses the complex problem of understanding and processing natural languages in both speech and text mode.
                
                LTRC conducts research on both basic and applied aspects of language technology. It is the largest academic centre of speech and language technology in South Asia. LTRC carries out its work through four labs, which work in synergy with each other, as listed above.
                
                </p>

                <li><b>Kishore S. Prahallad</b><br>
                Associate Professor (On Leave)<br>
                Ph.D (Carnegie Mellon University)<br>
                Areas of Interest:<br>
                audio, speech and language processing, machine learning, multimedia systems<br>
                Email: kishore[at]iiit[dot]ac[dot]in<br>
                <a id ="link1" href= http://faculty.iiit.ac.in/~kishore/>Path to Enlightment</a><br>
                <br>
                

                
            
    </div>
    <div class="col-md-4"> </div>
    	
    </div>
   
    

      
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
     

  </body>
 </html>

