
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Robotics </title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">        
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
</style>
  </head>
  <body>
    <div class="row">
      <div class="col-md-2"><img id="poster1" src="static/IIIT-H.png" class="img-responsive img-rounded" width="200" height="300"></div>

      <div class ="col-md-6">
      	<br>
      	<br>
      	<h1 id="heading"> Robotics Research Center</h1>
      	    <p>

                The IIIT Robotics Research Lab is a part of International Institute of Information Technonology at Hyderabad, India. The lab aims to work on research problems and innovative projects that extend the state of the art in robotics. The centre's research focuses in the areas of Mobile and Aerial Robotics, Robotic Vision, Mechanism Design and Multi Robotic Systems. The lab is well equipped with robot platforms and advanced sensors and has been publishing in top international conferences like ICRA, IROS, IJCAI, AAMAS. 
                
                </p>
                <li><b>Dr. K. Madhava Krishna</b><br>
                Lab Head, Associate Professor<br>
                Phone: 91-40-66531000 (Extn: 269/ 317)<br>
                Office: B5-305<br>
                email: mkrishna@iiit.ac.in<br> 
                <a id ="link1" href= http://robotics.iiit.ac.in/>Path to Enlightment</a><br>
                <br>
                
                <li><b>Dr. Abhishek Sarkar</b><br>

                Senior Research Scientist<br>
                Ph.D (IIT, Kanpur)<br>

                Research Areas:<br>

                Biped / Humanoid locomotion: Walking, Jumping, running. Optimal path planning and gait generation on uneven terrain, Compliance, soft-robotics and human-robot interaction<br>
                
                Email: abhishek[dot]sarkar[at]iiit[dot]ac[dot]in <br>
                <br>

            

                
            
    </div>
    <div class="col-md-4"> </div>
    	
    </div>
   
    

      
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
     

  </body>
 </html>

